@layer components {
  .h1 {
    @apply lg:text-7xl md:text-6xl lg:leading-[1.1] font-semibold leading-tight tracking-[-0.03em] text-5xl;
    font-family: "Parkinsans", sans-serif;
  }

  .h2 {
    @apply lg:text-6xl md:text-5xl lg:leading-[1.15] font-semibold md:leading-snug tracking-[-0.03em] leading-snug text-4xl;
    font-family: "Parkinsans", sans-serif;
  }

  .h3 {
    @apply lg:text-3xl md:text-2xl lg:leading-[1.15] font-semibold md:leading-snug tracking-[-0.03em] leading-snug text-3xl;
    font-family: "Parkinsans", sans-serif;
  }

  .subtext {
    font-size: 18px;
  }

  .body-sm {
    font-size: 14px;
  }

  .body {
    font-size: 16px;
  }
  .body-lg {
    font-size: 18px;
  }

  .h4 {
    font-size: 26px;
  }
  .h5 {
    font-size: 24px;
  }
}
